* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
}

nav {
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: space-between;
}


nav img {
    display: inline-block;
    padding: 20px;
    border-radius: 50%;
}

nav ul {
    width: 40%;
    min-width: 380px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
}

nav ul li {
    display: inline-block;
    padding: 20px 0;
    color: white;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

.nav-item:hover {
    color: aqua;
}

/* Apresentação */

header {
    background-image: url(./bg.jpg);
    background-size: cover;
    padding: 2%;
}

header section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#image {
    display: inline-block;
    min-width: 400px;
    padding: 50px 50px;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.3));
}

header img {
    border-radius: 50%;    
}

#profile {
    width: 50%;
    color: white;
    padding: 50px 0;
    text-align: center;
}

#name-icons {
    display: inline-block;
    width: 100%;
}

#subname {
    padding-bottom: 30px;
}

#profile-content {
    text-align: center;
    width: fit-content;
    /* min-width: 300px; */
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#profile a {
    transition: 0.3s;
}

#profile .nav-item:hover {
    color: aqua;
}

#profile h1 {
    font-size: 32px;
    /* min-width: 290px; */
    text-align: center;
    margin: 0 auto;
}


#profile h3 a {
    text-decoration: none;
    color: inherit;
    color: rgb(212, 212, 212);
}

/* #profile p {
    padding: 10px 0;
    font-size: 20px;
} */

/* Main */

#sided {
    display: grid;
    grid-template-columns: 1f 5fr;
    grid-template-rows: 600px auto;
    background-color: rgb(29, 29, 29);
    color: white;       
}

aside {
    grid-area: 1 / 1 / 3 / 2;
    max-width: 1fr;
    background-color: rgb(20, 20, 20);
    color: white;
    height: 100%;
    padding: 60px 30px;
    font-size: 18px;
    text-align: center;
}

aside ul {
    padding: 20px 10px;
    text-align: left;
}

aside ul li {
    list-style: none;
    padding: 4px 0;
}

#projetos {
    display: inline-block;
    padding: 60px 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: scroll;
    margin: 50px 6%;
}

#projetos h3 {
    font-size: 28px;
    padding: 20px;
    color: aqua;
}

#projetos img {
    padding: 10px;
    width: 90%;
    max-width: 300px;
}

#hobbies {
    display: inline-block;
    padding: 60px 10px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 60px 0;
    margin: 0 auto;
    width: 90%;
}

#hobbies h3 {
    font-size: 28px;
    padding: 0 40px;
    color: rgb(156, 252, 144);
}

#hobbies ul {
    padding: 20px;
    width: 90%;
    max-width: 900px;
}

#hobbies ul li {
    list-style: none;
    margin: 20px 0;
    padding: 10px;

}

#hobbies ul li a {
    text-decoration: none;
    color: inherit;
    color: rgb(156, 252, 144);

}

footer {
    background-color: rgb(0, 0, 0);
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: white;
}

footer ul {
    width: 100%;
    padding: 20px 0;
}

footer ul li {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

.links {
    text-decoration: none;
    color: inherit;
    font-weight: 300;

}

footer span {
    font-size: 14px;
}
