body {
    background: rgb(2,0,36);
    background: linear-gradient(122deg, rgba(2,0,36,1) 20%, rgba(15,15,61,1) 50%, rgba(99,23,23,1) 100%);
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px 10% 0 10%;
}

#profile {
    text-align: center;
    margin-top: 80px;
}

h3 {
    font-size: 2em;
}

ul {
    font-size: 1.2em;
    list-style-type: square;
    line-height: 1.5em;
}

p {
    font-size: 1.2em;
}

img {
    border-radius: 2%;
}

#nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: aliceblue, 0.7;
}

.nav-item {
    display: inline;
    color: #1e2d45;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: flex-start;
    font-weight: bold;
}

#link {
    margin: 80px 0 30x 0;
}

.links {
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    list-style-type: none;
}

